// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.floating-box {
    float: left;
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 3px solid #73AD21;
}
.box-item{
  width:400px;
  height: 500px;
}
